header img {
    margin: 10  px;
    padding: 10px;
    background-color:#ffff00cc;
    border: 1px solid rgb(228, 22, 22);
    width: 1000px;
    height: 300px  ;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 40px;
   
    padding: 50px 50px 50px 50px;   
    background-color: brown;
    color: #ffff00cc;
}
h2 {
    color: rgb(204, 231, 50);
    background-color: brown;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 40px;
   
    padding: 50px 50px 50px 50px;   
    background-color: brown;
    color: #ffff00cc;
}
nav ul {
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(226, 188, 90);
    background-color: rgb(161, 65, 10)   ;
    float: right;
    padding: 50px;
    margin: 50px;
}

table, tr, td { 
    margin: auto;
    padding: 15px;

    background-color: rgb(226, 188, 90);
    border: brown;
    border: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li { 
    margin: auto;
    padding: 15px;
    background-color: rgb(226, 188, 90);
    border: brown;
    border: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 img {
    width: 20px;
    height: 20px;

}


