img.fish {
    margin: 50px;
    padding: 50px;
    background-color: darkgray;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 40px;
   
    padding: 50px 50px 50px 50px;
    background-color: brown;
    color: #ffff00cc;
}
nav ul {
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(226, 188, 90);
    background-color: rgb(161, 65, 10)   ;
    float: right;
    padding: 50px;
    margin: 50px;
}
